@import url('https://fonts.googleapis.com/css?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

body{
  background-color: white;
}

.topbar{
  position: fixed;
  box-sizing: border-box;
  display: block;
  background-color: #3227d8;
  width: 100%;
  height: 100px;
  float:none;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: ham college-name logoo nav;
  top: 0;
  left:0;
  z-index: 99999;
  border-radius: 8px;
  margin-bottom: 40px;
}


.logo{
  grid: logoo;
  
}
.logopic{
  height: 50px;
  width: auto;
  border-radius: 8px;
  border:3px solid white;
}

.heading{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  grid: college-name;
  font-size: 1.2em;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hamburger{
  grid:ham;
}
.hambtn{
  height:50px;
  width: auto;
  padding-left: 90px;
}
.navigationbar{
  grid:nav;
  visibility: hidden;
}


#search-text{
  position: relative;
  top: 100px;
  left: 120px;
  border-top:thin solid  #3700B3;
  border-right:thin solid #3700B3;
  border-bottom:0;
  border-left:thin solid  #3700B3;
  box-shadow:0px 1px 1px 1px #3700B3;
  height:20px;
  margin-bottom: 20px; 
  outline:0;
  padding:.4em 0 .4em .6em; 
  width:40%; 
 
}

#button-holder{
  position: relative;
  left:92px;
  top:48px;
  text-align: center;
  background-color:#3227d8;
  border-top:thin solid #043653;
  box-shadow:1px 1px 1px 1px #5c5757;
  cursor:pointer;
  height:30.5px;
  margin-bottom:20px;
  text-align: center;
  width:20px;
  padding-right: 7px;
  
}

#button-holder img{
  margin:4px;
  width:20px; 
}

.holder-program{
  margin-top: 80px;
  box-sizing: border-box;
  background-color: #1a1aff;
  overflow: scroll;
  border-radius: 8px;
}

.program-heading{
  color: white;
  padding-right: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
.program-description{
  padding:10px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.holder-menu{
  background-color:  #3333ff;
  box-sizing: border-box;
  padding-bottom: 10px;
  padding-top:5px;
  border-radius: 8px;
  color:white;
}

.menu{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:5px;
  list-style-type: none;
}


.option{
  
  text-align: left;
  text-decoration: none;
  list-style-type: none;
}
.option a:hover{
  background-color: yellow;
  zoom: 1.5;
  color: darkblue;
  transition-duration: 1ms;
  cursor: pointer;
}

.menu > div {
  font-size: 30px;
}

.anchor{
  color:white;
  text-decoration: none;
}

.apply-box{
  position: relative;
  padding: 10px;
  margin: 12px 10px 12px 10px;
  align-content: center;
  background-color: #005293;
  height: 180px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0.5rem 0.5rem 3rem blue;
}
.apply{
  color: white;
  text-decoration: none;
  text-decoration-color: white;
}

.apply-box a:hover{
  background-color: yellow;
  color: red;
  cursor: pointer;
}




.students a:hover{
  background-color: yellow;

  color:#043653;
  cursor: pointer;

}

.apply-link{
  cursor: pointer;
  color: #043653;
  text-decoration: none;
}
.int-students{
  background-color: aliceblue;
  height: 50px;
  width: 195px; 
  color: #043653;
}

.dom-students{
  background-color: aliceblue;
  height: 50px;
  width: 195px;
  color: #043653; 
}
.students{
  text-decoration: none;
  padding-top: 4px;
  margin: 4px;
  color: #043653; 
}
.int-students{
  cursor: pointer;
  color: #043653;
}

.small-description{
  
  font-size: 1em;
}

.collegepic{
text-align: center;
}

.college-pic{
height: 250px;
width: 300px;

}

.below-pic{
  text-align: center;
}

.section1{
  text-align: center;
  font-size: 2em;
}

.overview-details{
  list-style-type: none;
  text-align: left;
}

.year{
  text-align: center; 
}

.dropbtn {
  background-color: blue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border: #3333ff;
}

.dropdown {
  padding-left: 80px; 
  text-align: center;
  position: relative;
  display: inline-block;
  list-style-type:none;
}

.dropbtn{
  box-shadow: 5px 5px  grey;
  box-shadow: #3e8e41;
}
.dropdown-content {
  align-content: center;
  list-style-type: none;
  text-decoration: none;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.years{
  list-style-type: none;
  text-decoration: none;
  text-align: center;
}
.dropdown-content a {
  text-align: center;
  color: black;
  padding: 12px 16px;
  list-style-type: none;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {background-color: #dddddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}



.dates{
  align-content: center;
  list-style-type: none;
}
.stu{
  padding-left: 35px;
  text-align: left;
}

.outcomes{
  margin-bottom: 50px;
}

.ending{
  display: block;
  border-color: 8px;
  position: relative;
  width:100%;
  bottom: 0;
  left: 0;
  right:0;
  background-color: black;
  height:180px; 
}

.connect{
  margin-bottom: 15px;
}

.socialmedia{
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  list-style-type: none;
  }
  .media:hover{
  zoom: 1.3;
  transition-delay: .6ms;
}
.policies{
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: left;
  margin-left: 0.2em;
  margin-right: 0.2em;
  color: white;
  }
  .policy{
  color: whitesmoke;
  text-decoration: none;
  margin-top: 1em;
  /* border: thin solid white;*/
  margin-left: 0.6em;
  margin-right: 0.6em;
}
.policy:hover{
  margin-left: 1em;
  margin-right: 1em;
}

.copyright{
  text-align: center;
  color: white;
}



@media screen and (min-width:650px){
  .hambtn{
    visibility: hidden;
  }
  .heading{
    font-size: 2em;
  }

  .navigationbar{
    visibility: visible; 
  }
  .bar-items{
    gap: 0.8em;
    padding-right: 0.2em;
    padding-left: 0.2em;
    font-size: 1.5em;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1; 
    list-style-type: none;
  }
  .bar-items a:hover{
    background-color: yellow;
    color: darkblue;
    zoom: 1.5;
  }
  .items{
    color: white;
    text-decoration: none;
  }
  .searchh{
    visibility: hidden;
  }
  #button-holder{
    visibility: hidden;
  }

  .holder-program{

    position: relative;
    top:10px;
    left: 0;
    margin-right: auto;
    margin-left:auto;
    height: 18em;
    width: 80%;
    background-color: #3227d8;
    border-radius: 8px;
    color: white;
  }
  .program-heading{
    position: relative;
    top:65px;
    left:10px;
  }
  
  .program-description{
    position: relative;
    top: 70px;
    left: 10px;
    font-size: 22px;
    font-style: italic;
    overflow: auto;
    
  }
  
  .holder-menu{
    position: absolute;
    top:0;
    z-index: 0;
    background-color: blue;
    width: 100%;
    height: 4em;
    border-radius: 8px;
    
  }
  .menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    z-index: 9999;
    top:0;
    left:75px;
    list-style-type: none;
    color: white;
    
  }
  .option a:hover{
    float: left;
    color: blue;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 20px;
    border-radius: 4px; 
  }

  a{
    text-decoration: none;
    color: white;
    font-size: 1em;
  }
  a:hover{
    background-color: yellow;
    color: blue;
  }
  .apply-box{
    padding: 10px;
    position: relative;
    top: 100px;
    left:900px;
    background-color: #005293;
    height: 180px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0.5rem 0.5rem 3rem blue;
  }
  .apply{
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
  }
  
  .apply-box a:hover
  {
      color: red;
      cursor: pointer;
  }
  
  
  .students a:hover{
    color:#043653;
    cursor: pointer;
  
  }
  
  .apply-link{
    color: #043653;
  }
  .int-students{
    background-color: aliceblue;
    height: 50px;
    width: 195px; 
    color: #043653;
  }
  
  .dom-students{
    background-color: aliceblue;
    height: 50px;
    width: 195px;
    color: #043653; 
  }
  .students{
    text-decoration: none;
    position: relative;
    top:8px;
    padding-top: 4px;
    margin: 4px;
    color: #043653; 
  }
  
  .int-students{
    cursor: pointer;
    color: #043653;
  }
  
  .small-description p {
    position: relative;
    width: 60%;
    line-height: 20px;
  }
  
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Monda', sans-serif;
  }

  .collegepic{
    text-align: center;
    position: relative;
    margin-top: 50px;
    padding-top: 30px;
    margin: auto;
    overflow: hidden;
    width: 600px;
  }
  .collegepic img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
  }
  .collegepic:hover img {
    transform: scale(1.1);
  }
  
  .below-pic{
    text-align: center;
  }
  
  .about-program{
    padding-left: 100spx;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas: program duration availability ;
    grid-gap: 2em;
    left: 10px;
    line-height: 1.2;
    text-decoration: none;
  }

  .section1{
    position: relative;
    left:40px;
  }

  
  .overview-columns{
    grid:program;
  }
  .overview-details{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: program-detail program-details;
  }
  

  
  
  .details{
    grid: program-detail;
    list-style-type: none;
    font-family: 'PT Sans Narrow', sans-serif;
    position: relative;
    left: 0;
    text-align: left; 
  }
  
  .detail{
    grid: program-details;
    list-style-type: none;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: left; 
  }
  
  
  
  p{
    font-family: 'PT Sans Narrow', sans-serif;
  }
  
  .duration-overview{
    grid:duration ;
  }
  
  
  
  .program-avalaiblity{
    grid: availability;
  }
  
  
  .dropbtn {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border: #3333ff;
  }
  
  .dropdown {
    
    position: relative;
    display: inline-block;
    list-style-type:none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    list-style-type: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #dddddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  
  
  
  .ending{
    background: black;
  }
  
  .connect{
    margin-bottom: 15px;
  }
  
  .socialmedia{
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    text-align: center;
    list-style-type: none;
  }
  .media:hover{
    zoom: 1.3;
    transition-delay: .6ms;
  }
  .policies{
    list-style-type: none;
    list-style: none;
    font-family: var(--asap-font);
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
  .policy{
    color: whitesmoke;
    text-decoration: none;
    margin-top: 1em;
   /* border: thin solid white;*/
    margin-left: 0.6em;
    margin-right: 0.6em;
  }
  .policy:hover{
    color: var(--links);
    margin-left: 1em;
    margin-right: 1em;
  
  }

  .copyright{
    text-align: center;
    color: white;
  }
  
}